@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  --color-input: #64748b;
  --color-border: #1f2937;
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  --color-input: #1f2937;
  --color-border: #64748b;
}

body {
  color: var(--color-foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--color-background)
    )
    var(--color-background);
  border-color: var(--color-foreground);
}

input {
  /* background-color: rgb(31 41 55); */
  background-color: var(--color-input);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="checkbox"] {
  visibility: hidden;
}

div {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.button {
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-background); 
  color: var(--color-foreground); 
  border: 2px solid var(--color-border);
  cursor: pointer;
  transition-duration: 300ms;
}

.button:hover {
  background-color: var(--color-border);
  color: white;
}

.in-cart {
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #15803d;
  border: 2px solid #15803d;
  color: white;
}

.ps-sidebar-container {
  background-color: var(--color-background) !important;
  color: var(--color-foreground);
  opacity: 1;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.ps-sidebar-container::-webkit-scrollbar {
  display: none !important;
}

.ps-sidebar-backdrop {
  top: 77px !important;
  border: 0px;
}

.ps-sidebar-root {
  height: calc(100% - 77px) !important;
  top: 77px !important;
  border-left-style: none !important;
}

