.button {
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-background); 
  color: var(--color-foreground); 
  border: 2px solid var(--color-border);
  cursor: pointer;
  transition-duration: 300ms;
}

.button:hover {
  background-color: var(--color-border);
  color: white;
}

.checkout {
  color: var(--eyecatching-foreground);
  border-color: var(--eyecatching-foreground);
}

.checkout:hover {
  background-color: var(--eyecatching-foreground);
}

.in-cart {
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: var(--eyecatching-foreground);
  border: 2px solid var(--eyecatching-foreground);
  color: white;
}
